body {
    background-color: azure;
}

header {
    background-color: #fff;
    float: left;
}

img {
    width: 60px;
    height: auto;
}

nav {
    padding-top: 1.5em;
    padding-right: 1em;
    float: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #a5f1b0;
}

main img {
    width: 100%;
    height: auto;
}

main h1 {
    padding: none;
    color: rgb(244, 14, 14);
}

main p {
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.75em;
}

#product-of-the-week {
    text-align: center;
    margin-bottom: 10px;
}

.product {
    margin-top: 10px;
}
.product img {
    width: 200px;
    height: auto;
    border: 1px solid #333;
}
.product p {
    text-align: left;
    font-size: 0.75em;
}

/* Weekly Special Styles */
#weekly-special {
    text-align: center;
    margin-bottom: 10px;
}

#weekly-special .product {
    margin-top: 10px;
}

#weekly-special .product img {
    width: 200px;
    height: auto;
    border: 1px solid #333;
}

#weekly-special .product p {
    text-align: left;
    font-size: 0.75em;
}

/* Customer Guarantee Styles */
#customer-guarantee {
    text-align: center;
    margin-bottom: 10px;
}

#customer-guarantee p {
    text-align: left;
    font-size: 0.75em;

}

#customer-guarantee img {
    width: 200px;
    height: auto;
    border: 1px solid #333;
}

#customer-guarantee strong {
    font-weight: bold;
}

/* Reasons to Buy Styles */
#reasons-to-buy {
    text-align: center;
    margin-bottom: 20px;
}

#reasons-to-buy ul {
    text-align: left;
}

#reasons-to-buy ul li {
    margin-bottom: 10px;
}


footer {
    text-align: center;
    font-size: 0.75em;
    border-top: 1px solid;
}